/* App.css */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #eaeaea;
}

h1, h2, h3 {
  color: #333;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ABD; /* Darker shade of the button color */
}